.equipment-layout {
  @include columnCenterContent;
  padding: 2rem 0;

  &--text {
    max-width: 80%;
    padding: 2rem 0;
  }

  &__list {
    max-width: fit-content;

    & a {
      color: inherit;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
    }

    & img {
      width: 23%;
      height: auto;

      @media only screen and (max-width: 900px) {
        width: 45%;
        margin: 2%;
      }

      @media only screen and (max-width: 600px) {
        width: 80%;
      }
    }
  }
}
