.footer {
  background-color: $color-primary-dark;
  color: $color-grey-light;
  min-height: 50vh;
  @include columnCenterContent;

  &__sections {
    align-self: stretch;
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
      padding: 2rem;
    }
  }

  &__rightsreserved {
    font-size: 0.8rem;
    @include columnCenterContent;
    padding: 1rem;
    color: $color-primary;
    & a {
      display: inline;
      color: $color-primary-light;
    }
  }

  &__social {
    @include columnCenterContent;
    align-self: stretch;

    &--icons {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media only screen and (max-width: 600px) {
        align-self: center;
      }

      & a {
        padding: 1rem;
        @include centerContent;
        &:hover::before {
          transform: scale(0);
        }
      }
      & a img {
        transition: all 0.5s;
        width: 2.5rem;
        height: auto;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
