.about-us {
  display: flex;
  flex-direction: column;

  &__section {
    @include columnCenterContent;
    padding: 2rem 0;

    &--text {
      padding: 2rem 0;
      max-width: 80%;
    }

    &--images {
      display: flex;
      justify-content: space-around;
      align-self: stretch;

      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
      }

      & img {
        width: 23%;
        height: auto;

        @media only screen and (max-width: 900px) {
          width: 40%;
          margin: 2%;
        }

        @media only screen and (max-width: 600px) {
          width: 70%;
        }
      }
    }
  }
}
