@mixin centerBackgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin columnCenterContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
