//colors
$color-primary-light: #aee2ff;
$color-primary: #5bc0f8;
$color-primary-dark: #0e3659;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #808080;
$color-grey-light: #f7f7f7;
$color-red: #ba0021;
$color-yellow: #ffc93c;
$color-green: #54b435;

//font
$default-font-size: 1.6rem;
