.section-newsletter-reviews {
  padding: 2rem 0;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  @media only screen and (max-width: 1300px) {
    flex-direction: column-reverse;
  }

  &__field {
    flex: 0 0 20%;
    @include columnCenterContent;

    & > h3 {
      color: $color-primary-dark !important;
    }

    &--content {
      @include columnCenterContent;
      justify-content: center;

      &--source {
        font-size: 0.8rem;

        & > span {
          font-weight: 600;
          color: $color-primary-dark;
        }
      }
    }
  }

  &__carousel {
    width: 70%;
  }
}
