.section-engines {
  min-height: 60vh;
  @include columnCenterContent;
  padding: 2rem 0;

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    &--info {
      align-self: stretch;
      flex: 0 0 45%;
      @include columnCenterContent;
      justify-content: space-evenly;

      & > p {
        margin-bottom: 2rem;
      }

      @media only screen and (max-width: 600px) {
        margin: 2rem 0;
        align-self: center;
        width: 95%;
        order: 1;
      }
    }

    & figure {
      flex: 0 0 40%;
      @include centerContent;

      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
