.section-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    rgba($color-primary, 0.6),
    rgba($color-primary-dark, 0.6)
  );
  @include columnCenterContent;
  justify-content: center;

  @media screen and (max-width: 1300px) {
    height: 90vh;
  }

  &__video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__heading {
    text-align: center;
    @include columnCenterContent;
    margin: 3rem 1rem;
  }

  & > a {
    animation: showUp 1s ease-in 6s;
    animation-fill-mode: backwards;
  }
}
