.boat-card {
  position: relative;
  height: 50vh;
  margin: 1%;
  display: flex;
  width: 80%;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    margin: 2%;
  }

  @media only screen and (max-width: 600px) {
    height: 85vh;
  }

  &__homemade {
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    position: absolute;
    top: 2rem;
    left: -2rem;
    transform: rotate(-30deg);
    background-color: $color-yellow;
    padding: 0.5rem 2rem;
    animation: stick 0.8s;
  }

  & > div {
    flex: 1;
  }

  &__image {
    @include centerBackgroundImage;

    @media only screen and (max-width: 600px) {
      min-height: 20vh;
    }
  }
  &__description {
    @media only screen and (max-width: 900px) {
      padding: 1rem 0;
    }
    & > h2 {
      color: $color-primary-light;
    }

    color: $color-white;
    @include columnCenterContent;
    justify-content: space-around;
    @include centerBackgroundImage;

    &--data {
      @include columnCenterContent;
      width: 80%;
      @media only screen and (max-width: 1300px) {
        font-size: 1.5rem;
      }
    }

    &--card {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--heading {
        font-family: "Bebas Neue", cursive;
      }

      &--data {
        font-size: 0.9rem;

        @media only screen and (max-width: 1300px) {
          font-size: 1.2rem;
        }

        @media only screen and (max-width: 600px) {
          text-align: right;
        }
      }
    }
  }

  &__buttons {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media only screen and (max-width: 900px) {
      margin: 2rem 0;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      flex-direction: column;
      align-items: stretch;
      & a {
        margin: 1rem;
      }
    }
  }
}
