.button {
  position: relative;
  transition: all 0.2s;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  padding: 1rem 2rem;
  background-color: $color-white;
  @include centerContent;
  animation: pulsate 1.5s infinite;
  z-index: 1;

  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 0%;
    transition: all 0.5s;
  }

  &:hover {
    animation: none;
  }

  &:hover::before {
    width: 100%;
    color: $color-primary-dark;
    background-color: $color-primary;
  }

  &:active {
    transform: scale(1);
  }

  &__dark {
    color: $color-white;
    background-color: $color-black;
  }
}
