.suggestions {
  padding: 4rem 2rem;
  margin: 2rem 0;

  @include columnCenterContent;

  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.6),
      rgba($color-primary-dark, 0.6)
    ),
    url("../../public/assets/images/engine.jpg");

  @include centerBackgroundImage;
  background-attachment: fixed;

  @media only screen and (max-width: 900px) {
    padding: 7rem 0;
  }

  & > h2 {
    text-align: center;
    color: $color-white;
  }

  &__images {
    align-self: stretch;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 1300px) {
      flex-wrap: wrap;
    }

    @media only screen and (max-width: 600px) {
      padding: 4rem 0;
    }
  }

  &__image-wrapper {
    height: 30vh;
    margin: 1%;
    border-radius: 50%;
    flex: 0 0 20%;
    @include centerContent;
    overflow: hidden;

    & img {
      height: 100%;
      width: auto;
    }
  }
}
