.used-equipment-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 14%;
  height: 30vh;
  margin: 1%;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    width: 30%;
  }
  @media only screen and (max-width: 600px) {
    width: 45%;
  }

  & img {
    width: 100%;
  }

  & span {
    text-transform: uppercase;
    color: $color-white;
    font-weight: 600;
    padding: 0.5rem 0;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary-dark;
  }

  &:hover {
    cursor: pointer;
  }
}
